.btn{
    height: 30px;
    width: 135px;
    font-weight: 600;
    background-color: var(--color-grey);
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--color-hover);
}

@media(max-width: 755px){
    .btn{
        width: 110px;
    }
}