.wrapper{
    position: absolute;
    bottom:77px;
    left: 0;
    width: 100%;
    height: calc(100vh - 177px)
}
.messageBlock{
    display: flex;
    align-items: center;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    max-width: 500px;
    background: var(--color-hover);
    box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 20px;

}

@media(max-width: 755px){
    .messageBlock{
        width: 85%;
    }
    .message{
        font-size: 15px;
    }
}
