@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&family=Quicksand:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}
:root{
  --color-grey: #a5a5a5;
  --color-hover: #bbbbbb;
  --transition: 0.4s; 
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgba(166, 166, 166, 0.1);  
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
body{
  background-color: rgb(44, 43, 43);
  
}

main{
  min-height: calc(100dvh - 127px);
}

ul{
  list-style: none;
}
.desableScroll{
  overflow: hidden;
}
